.footer-component{
    display: none;
}
.footer-component .credit {
    position: static;
    bottom: 0;
    width: 100%;
    display: flex;
    color: aliceblue;
    align-items: center;
    padding: 3px 0 6px 0;
    justify-content: center;
    background-color: rgb(120, 12, 170);
    background-color: rgb(0, 0, 0);
    font-size: 12px;
}